@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

:root {
	--past-color: #e88282;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
	font-size: 16px;
	font-family: poppins, sans-serif, Arial, Helvetica;
	font-weight: 300;
	color: black;
}

@media (max-width: 360px) {
	.container {
		margin-top: 10rem;
		margin: 0.5rem;
	}
}
h1 {
	text-align: center;
	margin: 1em 0;
}

.calendario {
	margin: 0 auto;
	max-width: 500px;
	background-color: #80dabf;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.calen_info {
	display: flex;
	justify-content: space-around;
}
.calen_month {
	margin-right: 1em;
}
.content-month {
	display: flex;
	min-width: 200px;
	justify-content: center;
}

.prev_month,
.next_month {
	color: var(--past-color);
	cursor: pointer;
	padding: 0 0.8em;
	border-radius: 0.2em;
	transition: background-color 0.5s ease;
}

.prev_month:hover,
.next_month:hover {
	background-color: rgba(0, 0, 0, 0.042);
}

.calen_weeks,
.calendar_dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
}
.calendar_dates {
	gap: 1em 0;
	margin-top: 0.5em;
}
.first_day_work {
	color: red;
}

.calendar_today {
	color: rgb(250, 9, 9);
	width: 100%;
	margin: auto;
	font-weight: bold;
}
.break {
	background-color: rgba(205, 219, 76, 0.597);
}
.work {
	background-color: rgba(91, 155, 107, 0.549);
}

.month_before {
	opacity: 0.3;
}

.calen_day {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	font-size: 1rem;
	background-color: #e89b9b;
	border-right: 1px solid #040303;
}

.calen_day:last-child {
	border-right: 0;
}
